

.student-info { background-color: #fefefe;  border-radius: 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset; margin-bottom: 20px; min-height: 20px; padding: 15px; }
.P_Image{width:150px; height:150px; border:1px solid #ddd}

.Info { margin-bottom:50px;}
.Info ul{ margin:0;  padding:0}
.Info ul li { color: #5d6772; font-size: 15px; line-height: 23px; list-style: outside none none; margin: 6px 0 0; padding-bottom: 5px; padding-left: 2px; }









