<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Award_bdConnectionString" connectionString="Data Source=.;Initial Catalog=DB_A33D99_AWARDBD;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=2000" providerName="System.Data.SqlClient"/>
    <add name="DBConnectionString" connectionString="Data Source=.;Initial Catalog=DB_A33D99_AWARDBD;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=2000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="60"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <siteMap defaultProvider="SiteMap1">
      <providers>
        <add name="SiteMap1" type="System.Web.XmlSiteMapProvider" siteMapFile="~/web.sitemap"/>
        <add name="SiteMap2" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web_Arranged.sitemap"/>
      </providers>
    </siteMap>
    <sanitizer defaultProvider="AntiXssSanitizerProvider">
      <providers>
        <add name="AntiXssSanitizerProvider" type="AjaxControlToolkit.Sanitizer.HtmlAgilityPackSanitizerProvider"/>
      </providers>
    </sanitizer>
    <httpRuntime maxRequestLength="20120"/>
    <!--Maximum 5MB upload-->
    <customErrors mode="Off"/>
    <pages validateRequest="true"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Default.aspx" protection="All" timeout="60"/>
    </authentication>
    <membership defaultProvider="OwnerProvider">
      <providers>
        <clear/>
        <add name="OwnerProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DBConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordFormat="Hashed" applicationName="/"/>
      </providers>
    </membership>
    <roleManager enabled="True">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="DBConnectionString" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
  </system.web>
  <!--End system.web-->
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="587" userName="" password="" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <!--<rewrite>
      <rules>
        <rule name="HTTP Redirect to HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365:00:00"/>
    </staticContent>
  </system.webServer>
  <!--All Profile Page-->
  <location path="Profile/Admin.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Volunteer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--Basic Setting-->
  <location path="Beneficiary/Add_Benefit_Category.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Benefit_Category"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Accounts/Expense/Expense_Category.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Expense_Category"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Benefit_Expense_Category.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Benefit_Expense_Category"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Add_Area.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Area"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Add_District.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="District"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Add_Reference.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Reference"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Change_Area_Dis_Ref.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Change_Area_Dis_Ref"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--Volunteer-->
  <location path="Volunteer/Add_Volunteer.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Add_Volunteers"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Volunteer/Volunteer_List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Volunteers_List"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Volunteer/Page_Access.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Sub_Admin_Page_Access"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--Beneficiary-->
  <location path="Beneficiary/Card/StudentBarCode.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="StudentBarCode"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Card/Beneficiary_List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Print_Student_Card"/>
        <allow roles="Stu_PayOrder"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Iftar/Iftar_B_List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Iftar_List"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Iftar/Iftar_Card.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Iftar_Card"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Iftar/Iftar_Barcode.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Iftar_Barcode"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Cloths/Cloth_B_List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Cloth_List"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Cloths/Cloth_Card.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Cloth_Card"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Cloths/Cloth_Barcode.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Cloth_Barcode"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Add_beneficiary.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Add_beneficiary"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Approved_Beneficiary.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Approved_beneficiary"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Expense/Beneficiary_List.aspx.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="beneficiary_List"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/ServiceOff/List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Inactive_Service"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Card/Iftar_Card.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="beneficiary_Iftar_Card"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Card/Autistic_List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Autistic_List"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/BeneficiaryReport.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Beneficiary_Report"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Beneficiary_Log.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Log"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Expense/Beneficiary_Allarea_List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="All_Area"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Iftar/Ifter_Payment.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Ifter_Payment"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Cloths/Cloth_Payment.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Cloth_Payment"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--Accounts-->
  <location path="Volunteer/Volunteer_Expense.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Add_Expense"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Accounts/Expense/Beneficiry/List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="beneficiary_Expense_Add"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Accounts/Expense/Volunteer/List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Volunteer_Expense_Add"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Accounts/Expense/Approved_Expense.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Approved_Expense"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Accounts/Expense/Delete_A_Expense.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Delete_Ex"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Accounts/Collection/Loan/Loan_Recevier_List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Loan"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Accounts/Collection/DonatorList.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Donation"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Accounts/Expense/Expense_Report.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Expense_Report"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Volunteer/Volunteer_Report.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Volunteer_Report"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/Beneficiary_Report.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Beneficiary_Report"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Accounts/Expense/Category_Report.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Category_Report"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--Food Token-->
  <location path="Beneficiary/Food_Token.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="FoodToken"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/FoodToken/Food_Schedule.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Food_Schedule"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/FoodToken/Food_Assign_list.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Food_Assign"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/FoodToken/Food_IDCard.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Food_IDCard"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/FoodToken/FoodBarCode.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Food_Provide"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/FoodToken/Food_Payment.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Food_Payment"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/FoodToken/Total_Assign.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Food_T_Assign"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/FoodToken/PaymemtRecord.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Food_PaymemtRecord"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Beneficiary/FoodToken/FoodByAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="FoodByAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>