
#container { display: grid; grid-gap:20px; grid-template-columns: repeat(2, 1fr);}
#container > div{border: 1px solid #000;}

.C-header { display: grid; grid-template-columns:50px 1fr 50px; text-align: center; border-bottom: 1px solid #000; padding: 6px; margin-bottom:4px;}
.C-header img { height:50px; width:50px}
.C-header h5 { font-size:18px; font-weight: bold; margin:16px 0 0 0; }

.Info-bcode { margin:10px 0;text-align:center;}
.Barcode { margin:auto !important}

.info { margin:5px 0; padding:0 5px;}
.info table { width:100%;font-size:11px;}
.info table td:nth-child(1) {width:75px;vertical-align: top;}
.info table td:nth-child(2) {width:12px; text-align:center;vertical-align: top;}

@media print {
.headerBack,h3{ display:none !important}
 #Main_Contain { width:100%;}
 body {background:none}
.container-fluid {padding-left:0; padding-right:0 }
}
